.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.moved-to-right {
	float: right;
}

.no-column-break {
	display: inline-block;
}

@media (min-width: 768px) {
	.three-column {
		column-count: 3;
	}
}
